  {{!-- Hero --}}
  <section class="hero hero-image is-medium is-bold has-bg-img">
    <div class="hero-body">
      <div class="container centered">
        <h1 class="title has-text-primary is-size-1">
          Mongo Scraper
        </h1>
        <h2 class="subtitle has-text-primary">
          NPR Edition
        </h2>
      </div>
    </div>
  </section>

<section class="section">
  <div class="container">
    {{#if data}}
    {{#each data}}
    {{> cards/scraped-card}}
    {{/each}}
    {{else}}
    <h1>No Articles Scraped</h1>
    {{/if}}